<div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
          <h3>Quản lý Tin tức</h3>
        </div>
      </div>
    </div>
  
    <button type="button" class="btn btn-secondary m-3" data-bs-toggle="modal" data-bs-target="#exampleModaladd"
      data-bs-whatever="@mdo">
      <i class="bi bi-plus"></i> Thêm Tin tức
    </button>
  
    <!-- Hoverable rows start -->
    <section class="section">
      <div class="row" id="table-hover-row">
        <div class="col-12">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="row mb-3 search-input"></div>
                <ngx-datatable class="material"
                [rows]="filteredPost"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="5"
                [count]="totalItems.length"
                [offset]="offset"
                (page)="onPage($event)">                  <ngx-datatable-column name="ID Tin tức">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row.id }}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Tên Tin tức ">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row.name }}
                      </ng-template>
                    </ngx-datatable-column>
  
                    <ngx-datatable-column name="Gía Tin tức ">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row.price | currency : "VND" }}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="ảnh Tin tức ">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <img [src]="getFullImageUrl(row.image)" alt="{{ row.name }}" style="width: 100px; height: auto" />
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Loại Tin tức ">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ getCategoryName(row.categoryId) }}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Chỉnh sửa">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModaledit"
                          data-bs-whatever="@mdo">
                          <i class="bi bi-pencil-square"></i> Sửa
                        </button>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Xóa">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        <button class="btn btn-danger" (click)="deletePost(row.id)">
                          <ion-icon name="logo-ionic"></ion-icon>
  
                          <ion-icon name="trash-bin-outline"></ion-icon> Xóa
                        </button>
                      </ng-template>
                    </ngx-datatable-column>
  
                  </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>