<mat-sidenav-container class="admin-shell">
  <mat-sidenav
    #drawer
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile"
    class="admin-sidenav"
  >
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        *ngIf="isMobile"
        mat-icon-button
        type="button"
        aria-label="Mở menu"
        (click)="toggleSidenav()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>LacViet Admin</span>
    </mat-toolbar>
    <main class="admin-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
